parameters:
    level: max
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore Laravel facade static calls
        - '#Call to static method .+ on a class-string#'
